body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-29xl: 48px;
  --font-size-13xl: 32px;
  --font-size-3xl: 22px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: rgba(255, 255, 255, 0);
  --color-whitesmoke: #eee;
  --color-orangered: #f75800;
  --color-crimson: #e60028;
}
